#outerFlex {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

#heading, #nav {
  font-family: 'Source Sans Pro';
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 5vh;
}

#textarea {
  border: 1px solid black;
  float: left;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 95vh;
  width: 50vw;
}
.CodeMirror {
  border: 1px solid black;
  background: #ffffff;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  overflow: auto;
  height: 90%;
  }

input[type=button], input[type=submit] {
  height: 30px;
  width: 50px;
  background-color: #C2C5CC;
  color: black;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #a9a9a9;
}

#output {
  border: 1px solid black;
  float: right;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 95vh;
  width: 50vw;
}

#createdTables, #returnTables {
  background: white;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  height: 50%;
}
  
table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}