.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

#output {
    border-style: solid;
    border-width: 1px;
    height: 800px;
    width: 400px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
#textarea {
    float: left;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
textarea {
    width: 400px;
    height: 400px;
  }

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}