<html>
    <head>
        {% if title %}
        <title>{{ title }} - Interpreter</title>
        {% else %}
        <title>Interpreter</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>
    <body>
        <div>
            SQL Interpreter!
        </div>
        <hr>
        <div class="flex-container">
            <div id="textarea">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.code.label }}<br>
                        {{ form.code(size=32) }}<br>
                        {% for error in form.code.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.run() }}</p>
                </form>
            </div>
            <div id="output">
                <p>Created tables: </p>
                {% for table in createdTables %}
                <table>
                    <caption>{{table[0]}}</caption>
                    {% for row in table[1] %}
                    <tr>
                        {% for item in row %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br>
                {% endfor %}
                <hr><br>
                <p>Output: </p>
                {% for table in data %}
                <table>
                    {% for row in table %}
                    <tr>
                        {% for item in row %}
                        <td>{{item}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br>
                {% endfor %}
            </div>
        </div>

    </body>
</html>