<html>
    <head>
        <meta charset="utf-8"/>
        <title> SQL Interpreter</title>
        <script src="/static/codemirror.js"></script>
        <script src="/static/sql.js"></script>
        <link rel="stylesheet" href="/static/codemirror.css"/>
        <link rel="stylesheet" href="/static/addon/show-hint.css" />
        <link rel=stylesheet href="/static/docs.css">
        <link rel="stylesheet" href="/static/style.css"/>
        <script src="/static/sql.js"></script>
        <script src="/static/addon/matchbrackets.js"></script>
        <script src="/static/addon/show-hint.js"></script>
        <script src="/static/addon/sql-hint.js"></script>
    </head>
    <body>
        <div id='heading'>
            <select>
                {% for file in files %}
                <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <h1>CS61A SQL Interpreter!</h1>
        </div>
        <div class="flex-container" id = "outerFlex">
            <div class="flex-container" id="textarea">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <p>{{ form.run() }} {{ form.save() }}</p>
                    <p>
                        {{ form.code(size=32) }}<br>
                        {% for error in form.code.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </form>
                <script>
                    var editor = CodeMirror.fromTextArea(document.getElementById("codeTextField"), {
                        lineNumbers: true,
                        mode:  "sql",
                        indentWithTabs: true,
                        smartIndent: true,
                        matchBrackets : true,
                        autofocus: true,
                        extraKeys: {"Ctrl-Space": "autocomplete"},
                        hintOptions: {tables: {
                        users: ["name", "score", "birthDate"],
                        countries: ["name", "population", "size"]
                        }}
                    });
                </script>
            </div>
            <div class="flex-container" id="output">
                <h3>Created tables: </h3>
                <div class="flex-container" id="createdTables">
                    {% for table in createdTables %}
                    <div id="createdTable">
                        <table>
                            <caption>{{table[0]}}</caption>
                            {% for row in table[1] %}
                            <tr>
                                {% for item in row %}
                                <td>{{item}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                    </div>
                    {% endfor %}
                </div>
                <h3>Output: </h3>
                <div class="flex-container" id="returnTables">
                    <div id="error">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}<p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    </div>
                    {% for table in data %}
                    <div id="returnTable">
                        <table>
                            {% for row in table %}
                            <tr>
                                {% for item in row %}
                                <td>{{item}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </body>
</html>